.container{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 1rem auto;
  padding: 1rem;
  border: 2px solid rgb(192, 193, 255);
}
.title{
  color: rgb(70, 72, 247);
}
.input{
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid rgb(192, 193, 255);
  outline: rgb(192, 193, 255);
}
.btn{
  background-color: #fff;
  border: 2px solid rgb(192, 193, 255);
  color: rgb(70, 72, 247);
  font-size: 1.5rem;
  cursor: pointer;
}
.valid{
  border-color: rgb(119, 173, 119);
}
.invalid{
  border-color: rgb(255, 0, 0);
}